<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<div>
    <h2>Update User</h2>
        <div>
            <form action="#" th:action="@{/admin/update/{id}(id=${user.id})}" th:object="${user}" method="post">
                    <div>
                        <label for="username">Username</label>
                        <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username">
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                    </div>
                <div>
                        <label for="role">Role</label>
                        <input type="text" th:name="role" id="role" placeholder="Role">
                    </div>
                    <div>
                        <input th:type="submit" th:value="Update">
                    </div>
            </form>
        </div>
    <h4><a href="/">General page</a></h4>
    <h4><a href="/logout">Logout</a></h4>
</div>
</body>
</html>